name: Deploy Knative Function to OpenShift

on:
  push:
    branches: ["master"]   # change if needed
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      REGISTRY_HOST: docker.io
      REGISTRY_USER: ${{ secrets.DOCKER_HUB_USERNAME }}
      IMAGE_FULL: ${{ secrets.DOCKER_HUB_USERNAME }}/hellospringboot:${{ github.sha }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install OpenShift and Knative CLI tools
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          # Installs the latest release of the OpenShift CLI (oc)
          oc: "latest"
          # Installs the latest release of the Knative CLI (kn), used for functions/serverless
          kn: "latest"
          
      # Log in to OpenShift
      - name: oc login
        run: |
          oc login "${{ secrets.OPENSHIFT_SERVER }}" \
            --token="${{ secrets.OPENSHIFT_TOKEN }}" \
            --insecure-skip-tls-verify=true
          oc project "${{ secrets.OPENSHIFT_PROJECT_NAME }}"

      # log into docker hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          
      # Build & Deploy with func (buildpacks via Docker under the hood)
      - name: func build
        # If your function is not at repo root, set working-directory: ./hellojava (etc.)
        run: |
          kn func build \
            --image "${{ env.IMAGE_FULL }}" \
            --confirm --verbose
            --push

      # Apply KServices using the built image tag
      - name: Apply Knative Services (echo & echoTime)
        run: |
          # Replace __IMAGE__ in ksvc-echo.yaml with the actual image name
          sed "s|__IMAGE__|${IMAGE_FULL}|g" ./openshift/ksvc-echo.yaml | oc apply -f -
          sed "s|__IMAGE__|${IMAGE_FULL}|g" ./openshift/ksvc-echotime.yaml | oc apply -f -

      - name: Set DEV Spring profile
        run: |
          kn service update hellospringboot-echo --env SPRING_PROFILES_ACTIVE=dev -n "${{ secrets.OPENSHIFT_PROJECT_NAME }}" 
          kn service update hellospringboot-echotime --env SPRING_PROFILES_ACTIVE=dev -n "${{ secrets.OPENSHIFT_PROJECT_NAME }}" 

      # apply broker trigger
      - name: apply pingsource.yaml
        run: |
          oc apply -f ./openshift/broker.yaml
          oc apply -f ./openshift/pingsource.yaml
          oc apply -f ./openshift/trigger-echo.yaml
          oc apply -f ./openshift/trigger-echotime.yaml

      # Show the public URL
      - name: Show Knative Service URL
        run: |
          oc get ksvc -n "${{ secrets.OPENSHIFT_PROJECT_NAME }}"
